<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center">Cadastro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="cadastro()" [formGroup]="formGroup">
    <ion-card color="light" class="ion-text-center">
      <ion-card-header>
        <ion-card-title>FAZER CADASTRO</ion-card-title>
      </ion-card-header>
      <ion-card-content>Entrar com e-mail e senha.</ion-card-content>
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <ion-card-subtitle>E-mail:</ion-card-subtitle>
        <ion-input type="text" formControlName="email"></ion-input>
        
        <ion-card-subtitle>Senha:</ion-card-subtitle>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-card-header>
    </ion-card>

    <div class="ion-text-center">
      <ion-button color="danger" type="submit">
        Novo Cadastro
        <ion-icon slot="end" name="save-outline"></ion-icon>
      </ion-button>
    </div>
  </form>
</ion-content>
