<ion-header>
  <ion-toolbar color="primary">
    <ion-title>NOSSOS SERVIÇOS</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Disfarçado</ion-label>
      <ion-note slot="end">R$30,00</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Disfarçado+Pigmentação</ion-label>
      <ion-note slot="end">R$40,00</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Disfarçado+Barba Modelada</ion-label>
      <ion-note slot="end">R$40,00</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Navalhado</ion-label>
      <ion-note slot="end">R$35,00</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Navalhado+Tesoura</ion-label>
      <ion-note slot="end">R$45,00</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Navalhado+Barba Modelada</ion-label>
      <ion-note slot="end">R$45,00</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Navalhado+Pigmentação</ion-label>
      <ion-note slot="end">R$45,00</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Corte simples</ion-label>
      <ion-note slot="end">R$20,00</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Tesoura</ion-label>
      <ion-note slot="end">R$35,00</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Nevou</ion-label>
      <ion-note slot="end">R$60,00</ion-note>
    </ion-item>
    <ion-text color="medium" class="ion-padding-start">
      <p>Esse é o preço só do Nevou sem o corte.</p>
    </ion-text>
    <ion-item>
      <ion-label>Reflexo</ion-label>
      <ion-note slot="end">R$60,00</ion-note>
    </ion-item>
    <ion-text color="medium" class="ion-padding-start">
      <p>Esse é o preço só do Reflexo sem o corte.</p>
    </ion-text>
    <ion-item>
      <ion-label>Acabamento (Pézinho)</ion-label>
      <ion-note slot="end">R$5,00</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Pigmentação</ion-label>
      <ion-note slot="end">R$10,00</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Cavanha</ion-label>
      <ion-note slot="end">R$5,00</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Barba</ion-label>
      <ion-note slot="end">R$15,00</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Sobrancelha</ion-label>
      <ion-note slot="end">R$5,00</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>A Domicílio</ion-label>
      <ion-note slot="end">R$60,00</ion-note>
    </ion-item>
  </ion-list>
  
  <ion-footer class="ion-text-center">
    <ion-text color="medium">BarbeariaRJ</ion-text>
  </ion-footer>
</ion-content>
