.image {
    margin-top: 70px; /* Adiciona uma margem acima da imagem */
    margin-left: 50px; /* Adiciona uma margem à esquerda da imagem */
}
ion-header {
    --background: #fff;
    ion-title {
      text-align: center;
      font-weight: bold;
      font-size: 1.5rem;
      color: #faf8f8;
    }
  }