<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">MODELOS DOS CORTES</ion-title>
  </ion-toolbar>
</ion-header>
<ion-footer>
</ion-footer>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        MODELOS CORTE MOICANO.
      </ion-card-title>
        <img src="assets/Moicano.jpeg" class="image card-image" width="200" alt="Descrição da imagem"/>
        <img src="assets/moicano2.jpeg" class="image card-image" width="200" alt="Descrição da imagem"/>
        <img src="assets/moicano3.jpeg" class="image card-image" width="200" alt="Descrição da imagem"/>
        <img src="assets/moicano4.jpeg" class="image card-image" width="200" alt="Descrição da imagem"/>
    </ion-card-header>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title> 
    MODELOS CORTE 
    ASA DELTA.
   </ion-card-title>
      <img src="assets/Jaca.jpeg" class="image card-image" width="200" alt="Descrição da imagem"/>
      <img src="assets/jaca2.jpeg" class="image card-image" width="200" alt="Descrição da imagem"/>
      <img src="assets/jaca3.jpeg" class="image card-image" width="200" alt="Descrição da imagem"/>
      <img src="assets/jaca4.jpeg" class="image card-image" width="200" alt="Descrição da imagem"/>
  </ion-card-header>
</ion-card>
<ion-card>
  <ion-card-header> <ion-card-title>
    MODELOS CORTE AMERICANO.
  </ion-card-title>
      <img src="assets/americano1.jpeg" class="image card-image" width="200" alt="Descrição da imagem"/>
      <img src="assets/americano2.jpeg" class="image card-image" width="200" alt="Descrição da imagem"/>
      <img src="assets/americano3.jpeg" class="image card-image" width="200" alt="Descrição da imagem"/>
      <img src="assets/americano4.jpeg" class="image card-image" width="200" alt="Descrição da imagem"/>
      <img src="assets/americano5.jpeg" class="image card-image" width="200" alt="Descrição da imagem"/>
  </ion-card-header>
</ion-card>