<ion-header>
  <ion-toolbar>
    <ion-title>Agendamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Breadcrumb -->
  <div class="breadcrumb">
    <p></p>
  </div>

  <!-- Title -->
  <div class="title-container">
    <h1></h1>
  </div>

  <!-- Step Indicator -->


  <!-- Calendar Selection -->
  <div class="schedule-container">
    <h2>Escolha uma data</h2>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="calendar-outline"></ion-icon> Selecione uma data
      </ion-label>
      <ion-datetime presentation="date" [min]="today" value="2024-11-22"></ion-datetime>
    </ion-item>

    <!-- Time Slots -->
    <h2>Período</h2>

    <div class="period">
      <h3>Manhã</h3>
      <div class="time-slot">
        <ion-button color="primary"(click)="selectTime('09:00-10:00')" expand="block" routerLink="/nomes">09:00 - 10:00</ion-button>
        <ion-button color="primary"(click)="selectTime('10:00-11:00')" expand="block"routerLink="/nomes">10:00 - 11:00</ion-button>
        <ion-button color="primary"(click)="selectTime('11:00-12:00')" expand="block"routerLink="/nomes">11:00 - 12:00</ion-button>
      </div>
    </div>

    <div class="period">
      <h3>Tarde</h3>
      <div class="time-slot">
        <ion-button color="primary"routerLink="/c"(click)="selectTime('13:00-14:00')" expand="block" routerLink="/nomes">13:00 - 14:00</ion-button>
        <ion-button color="primary"routerLink="/c"(click)="selectTime('14:00-15:00')" expand="block"routerLink="/nomes">14:00 - 15:00</ion-button>
        <ion-button color="primary"routerLink="/c"(click)="selectTime('15:00-16:00')" expand="block"routerLink="/nomes">15:00 - 16:00</ion-button>
      </div>
    </div>

    <div class="period">
      <h3>Noite</h3>
      <div class="time-slot">
        <ion-button color="primary"routerLink="/c" (click)="selectTime('16:00-17:00')" expand="block"routerLink="/nomes">16:00 - 17:00</ion-button>
        <ion-button color="primary"routerLink="/c"(click)="selectTime('17:00-18:00')" expand="block"routerLink="/nomes">17:00 - 18:00</ion-button>
        <ion-button color="primary"routerLink="/c" (click)="selectTime('18:00-19:00')" expand="block"routerLink="/nomes">18:00 - 19:00</ion-button>
      </div>
    </div>
  </div>

  <!-- Navigation Buttons -->
  <div class="button-container">
    <ion-button routerLink="/tabs/tab3"  expand="block" fill="outline" color="medium" (click)="goBack()">
      ← Voltar
    </ion-button>
  
  </div>
</ion-content>
