ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; // Certifica-se que o conteúdo ocupa toda a altura disponível
  }
  
  .message-container {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #3880ff; // Escolha a cor que preferir
    background-color: #f0f0f0; // Cor de fundo leve
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  