<ion-header>
  <ion-toolbar>
    <ion-title>Arte do Corte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="breadcrumb">
    <p>HOME / Agende seu horário</p>
  </div>

  <div class="title-container">
    <h1>Agende seu horário</h1>
  </div>

  <ion-segment scrollable>
    <ion-segment-button value="01">
      <ion-label>01</ion-label>
    </ion-segment-button>
    <ion-segment-button value="02" checked>
      <ion-label>02</ion-label>
    </ion-segment-button>
    <ion-segment-button value="03">
      <ion-label>03</ion-label>
    </ion-segment-button>
    <ion-segment-button value="04">
      <ion-label>04</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="schedule-container">
    <h2>Data e hora</h2>
    <ion-item>
      <ion-label position="floating"><ion-icon name="calendar-outline"></ion-icon> Escolha uma data</ion-label>
      <ion-datetime presentation="date" value="2024-11-22"></ion-datetime>
    </ion-item>

    <h2>Período</h2>

    <div class="period">
      <h3>Manhã</h3>
      <div class="time-slot">
        <ion-button>09:00 to 10:00</ion-button>
        <ion-button>10:00 to 11:00</ion-button>
        <ion-button>11:00 to 12:00</ion-button>
      </div>
    </div>

    <div class="period">
      <h3>Tarde</h3>
      <div class="time-slot">
        <ion-button>13:00 to 14:00</ion-button>
        <ion-button>14:00 to 15:00</ion-button>
        <ion-button color="tertiary">15:00 to 16:00</ion-button>
      </div>
    </div>

    <div class="period">
      <h3>Noite</h3>
      <div class="time-slot">
        <ion-button>16:00 to 17:00</ion-button>
        <ion-button>17:00 to 18:00</ion-button>
        <ion-button>18:00 to 19:00</ion-button>
        <ion-button>19:00 to 20:00</ion-button>
      </div>
    </div>
  </div>

  <div class="button-container">
    <ion-button expand="block" fill="outline" color="medium">
      ← Voltar
    </ion-button>
    <ion-button expand="block" color="tertiary">
      Próximo Detalhes →
    </ion-button>
  </div>
</ion-content>
