

<ion-header>
  <ion-button expand="block" routerLink="/tabs/tab3" color="primary">VOLTAR</ion-button>
</ion-header>
<ion-content>
  <ion-content>
    <div class="breadcrumb">
      <p>Tipos De Cortes</p>
    </div>
  
    <div class="title-container">
      <h1>Escolha Seu Corte</h1>
    </div>
  
   
  
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>Navalhado+Pigmentação</h2>
          <p>Duração: 1h</p>
        </ion-label>
        <ion-button expand="block" routerLink="/agend" class="schedule-button">
          R$45,00
                </ion-button>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <h2>Disfarçado</h2>
          <p>Duração: 1h</p>
        </ion-label>
        <ion-button expand="block" routerLink="/agend" class="schedule-button">
R$45,00
      </ion-button>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <h2>Navalhado+Barba Modelada</h2>
          <p>Duração: 1h</p>
        </ion-label>
        <ion-button expand="block" routerLink="/agend" class="schedule-button">
          R$45,00
                </ion-button>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <h2>Disfarçado + Pigmentação</h2>
          <p>Duração: 1h</p>
        </ion-label>
        <ion-button expand="block" routerLink="/agend" class="schedule-button">
          R$45,00
                </ion-button>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <h2>Disfarçado + Barba Modelada</h2>
          <p>Duração: 1h</p>
        </ion-label>
        <ion-button expand="block" routerLink="/agend" class="schedule-button">
          R$45,00
                </ion-button>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <h2>Navalhado</h2>
          <p>Duração: 1h</p>
        </ion-label>
        <ion-button expand="block" routerLink="/agend" class="schedule-button">
          R$45,00
                </ion-button>
      </ion-item>
    </ion-list>
  

  </ion-content>
   
</ion-content>
<ion-header [translucent]="true">

  <ion-header>
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>
  






