

<ion-header>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> <!-- Botão de voltar -->
    </ion-buttons>
</ion-header>
<ion-content>
  <!-- Conteúdo da página -->
  <ion-header>
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="breadcrumb">
      <p>HOME / Agende seu horário</p>
    </div>
  
    <div class="title-container">
      <h1>Agende seu horário</h1>
    </div>
  
    <ion-segment scrollable>
      <ion-segment-button value="01" checked>
        <ion-label>01</ion-label>
      </ion-segment-button>
      <ion-segment-button value="02">
        <ion-label>02</ion-label>
      </ion-segment-button>
      <ion-segment-button value="03">
        <ion-label>03</ion-label>
      </ion-segment-button>
      <ion-segment-button value="04">
        <ion-label>04</ion-label>
      </ion-segment-button>
    </ion-segment>
  
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>Navalhado+Pigmentação</h2>
          <p>Duração: 1h</p>
        </ion-label>
        <ion-badge color="primary">R$45.00</ion-badge>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <h2>Disfarçado</h2>
          <p>Duração: 1h</p>
        </ion-label>
        <ion-badge color="primary">R$30.00</ion-badge>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <h2>Navalhado+Barba Modelada</h2>
          <p>Duração: 1h</p>
        </ion-label>
        <ion-badge color="primary">R$45.00</ion-badge>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <h2>Disfarçado + Pigmentação</h2>
          <p>Duração: 1h</p>
        </ion-label>
        <ion-badge color="primary">R$40.00</ion-badge>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <h2>Disfarçado + Barba Modelada</h2>
          <p>Duração: 1h</p>
        </ion-label>
        <ion-badge color="primary">R$40.00</ion-badge>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <h2>Navalhado</h2>
          <p>Duração: 1h</p>
        </ion-label>
        <ion-badge color="primary">R$30.00</ion-badge>
      </ion-item>
    </ion-list>
  
    <ion-button expand="block" color="tertiary">Próximo Data e hora →</ion-button>
  </ion-content>
   
</ion-content>
<ion-header [translucent]="true">







